@CHARSET "ISO-8859-1";

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption {

}
.bypostauthor {
	
}
.mce-i-wp_code:before {
    /*content: '\e017' !important;*/
}

/*
欢迎学习自定义 CSS！

要了解其工作原理，请访问 http://wp.me/PEmnE-Bt
*/
.screen-reader-text {
    display: none;
}

.wu-copyright {
    display: none;
}

a, a:visited, a:focus {
    font-weight: bolder;
}

.header-bottom {
    height: 42px;
}

.advert-img {
    width: 50%;
    height: 50%;
}

#wp-admin-bar-root-default {
    display: none;
}

.current_page_item a {
    color: black !important;
}

.adverts-list .advert-img {
    width: 35%;
    height: 100%;
}

@media all and (min-width: 968px) {
    .menu-bar-social-bar {
        padding: 0 !important;
        float: right !important;
    }
    .menu-bar-social-bar .open_social_box {
        padding: 0;
    }
    .menu-bar-social-bar .login_button {
        margin: 0 5px 0 0;
    }

}


@media all and (max-width: 968px) {
    .menu-bar-social-bar {
        display: none;

    }
}

.dropdown-profile .list-profile li {
    padding: 10px 0 10px 0;
}

.logo-header {
    display:flex;
    flex-direction:row;
}
.logo-header span {
    margin-top: 20px;
}
.logo-header img {
    max-width: 259px;
    max-height: 70px;
    margin-top: -20px;
}

.social-bar-label {
    font-weight: bolder;
    color: gold;
    display: inline;
    float: left;
}

.menu-bar-social-bar {
    margin-top:-40px;
}

.menu-bar-social-bar-front {
    float: right !important;
    padding: 0 !important;
}

.social-bar-content .login_box {
    padding: 0;
}
.es_powred_by {
    display:none;
}

.map-category-listing-main {
    display:none;
}

.search-header {
    margin-top: 5px;
    float: left;
}


.adverts-form input[type="text"], .adverts-form input[type="password"], .adverts-form input[type="email"], .adverts-form input[type="url"], .adverts-form input[type="date"], .adverts-form input[type="month"], .adverts-form input[type="time"], .adverts-form input[type="datetime"], .adverts-form input[type="datetime-local"], .adverts-form input[type="week"], .adverts-form input[type="number"], .adverts-form input[type="search"], .adverts-form input[type="tel"], .adverts-form input[type="color"], .adverts-form select, .adverts-form textarea {
    border: 1px solid #004350 !important;
}

.adverts-form select {
    border: 1px solid #004350 !important;
}

.adverts-form.adverts-form-aligned .adverts-control-group > div.adverts-multiselect-holder {
    width: 60%;
    float: none;
    display: inline-block;
    padding: 0;
}

input[type=text].adverts-multiselect-input {
    cursor: pointer;
    margin-bottom: 0px;
    border: 1px solid #004350 !important;
    width: 100%;
}

h2.et-entry-title {
    font-size: 20px;
}
.es_prop_single_head h1 {
    font-size: 18px;
}
.list-post .title a {
    font-size: 16px;
}
.widget ul.category-items > li a.cat-item {
    font-size: 15px;
    color: firebrick;
}

.header-top .login a {
    color: firebrick;
}

.header-top .login a .icon {
    font-size: 18px;
    color: firebrick;
}

.thread-form .text-search, .mceIframeContainer {
    border-width: 2px;
}

.text-search input[type="text"] {
    font-weight: 900;

    position: relative;
    overflow: hidden;
    display: inline-block;

    text-decoration: none;
}

.text-search input[type="text"]:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(100, 149, 237, 0.13);
    background: linear-gradient(
            to right,
            rgba(100, 149, 237, 0.13) 0%,
            rgba(100, 149, 237, 0.13) 77%,
            rgba(100, 149, 237, 0.5) 92%,
            rgba(100, 149, 237, 0.0) 100%
    );
}

/* Hover state - trigger effect */

.text-search input[type="text"]:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

/* Active state */

.text-search input[type="text"]:active:after {
    opacity: 0;
}
.arrow-down span {
    font-size:14px;
    font-weight:bolder;
    margin-left:-60px;
    margin-top:-20px;
    color: #5a2410;
}

.arrow-down {

    position: relative;
    bottom: 0;
    left: 50%;
    margin-left:-20px;
    width: 200px;
    height: 50px;
    background-image: url("/wp-content/uploads/2016/10/arrowdown.png");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: -25px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: -25px;}
}

@-webkit-keyframes mybarmove {
    from {top: 0px;}
    to {top: -15px;}
}

@keyframes mybarmove {
    from {top: 0px;}
    to {top: -15px;}
}

@media all and (min-width: 1287px) {
    .side-adv {
        display:block;
        position: absolute;
        margin-left: -200px;
        margin-top: 150px;
    }
}

@media all and (max-width: 1287px) {
    .side-adv {
        display:none;
    }
}


.web-qr-bar {
    position: fixed;
    z-index: 555;
    top: 30px;
    left: 0;
}

.web-qr-bar .arrow-down {
    -webkit-animation: mybarmove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mybarmove 2s infinite;
}

.mp-qr-bar .arrow-down {
    left: 20%;
    -webkit-animation: mybarmove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mybarmove 2s infinite;
}

.mp-qr-bar {
    position: fixed;
    z-index: 555;
    top: 30px;
    right: 0;
}

.web-qr-bar span {
    color: brown;
}
.web-qr-bar img {
    max-width: 100%;
    height: 100px;
}

.mp-qr-bar span {
    color: brown;
}
.mp-qr-bar img {
    max-width: 100%;
    height: 100px;
}

#es_content .es_my_list_pic a img {
    min-width: 0%;
    min-height: 0%;
    height: 100px;

}

#es_content.es_list_column .es_my_listing ul li {
    height: 120px;
}

.geodir_category_list_view li.gridview_onehalf {
    width: 20% !important;
}

.single-gd_place #geodir-wrapper {
    max-width: 700px;
    float: left;
    margin-left: 100px;
}

.single-gd_place #geodir-wrapper-content {
    float: left;
    width: 100%;
}

.items-thread .img-circle, .avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0% !important;
}

.fe-post-section.fe-comment-section {
     display:none;
 }

.ad-area {
    width: 800px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
}

.ad-area img {
    height: 80px;
    max-width: none;
}

.header-bottom {
    height: 45px;
}

.wu-alert.wu-alert-SPE{
    display:none;
}


.share_button {

    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    margin-left: 22px;
}

#wc-comment-header,#wc_show_hide_loggedin_username,.wc-comment-bar {
    display:none !important;
}


.fe-tab{
    background: #ecf0f1;
    padding: 0 10px;
    height: 35px;
}

.fe-tab-items{
    display: flex;
    display: -webkit-flex;
    font-size: 0;
    margin: 0;
    width: 100%;
    padding: 0;
}

.fe-tab-items .fe-tab-item{
    display: block;
    /*width: 32.20%;*/
    width: 100%;
    height: 35px;
    display: inline-block;
}
.fe-tab-item.fe-tab-item-3{
    width: 32.20%;
}
.fe-tab-item.fe-tab-item-2{
    width: 49%;
}

.fe-tab-item.fe-tab-item-5{
    width: 20%;
}

.fe-tab-item.fe-tab-item-6{
    width: 20%;
}

.fe-tab-item.fe-tab-item-7{
    width: 20%;
}

.fe-tab-item.fe-tab-item-8{
    width: 20%;
}

.fe-tab-item.fe-tab-item-9{
    width: 20%;
}

.fe-tab-items .fe-tab-item a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: 35px;
    box-sizing: border-box;
    background: transparent;
    border-top: 3px solid transparent;
    padding: 7px;
    line-height: 15px;
    font-weight: bold;
    font-size: 12px;
    color: #7f8c8d;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.fe-tab-items .fe-tab-item.current a,
.fe-tab-items .fe-tab-item.active a{
    background: #fff;
    border-top: 3px solid #1abc9c;
    color: #7f8c8d;
}

.fe-tab-items .fe-tab-item a .fe-tab-name{
    position: relative;
    line-height: 18px;
    text-transform: uppercase;
}

.fe-tab-items .fe-tab-item a .fe-tab-name .count {
    background: #818d8e;
    height: 15px;
    border-radius: 14px;
    padding: 0px 4px;
    font-size: 10px;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #ffffff;
    left: 67px;
    top: -6px;
    color: #fff;
    line-height: 13px;
}
.fe-tab-items .fe-tab-item a .fe-tab-name .count.mana {
    left: inherit;
    right: -15px;
}
.fe-tab-items .fe-tab-item:last-of-type a .fe-tab-name .count {
    right: inherit;
    left: 73px;
}
.fe-tab-items .fe-tab-item:last-of-type a .fe-tab-name .count.mana {
    right: inherit;
    left: 73px;
}
.fe-tab-items .fe-tab-item.current a .fe-tab-name .count{
    background: #e74c3c;
}

.fe-container{
    padding: 10px;
}

.fe-tab.bottom-fe-tab {

    width: 100%;
    position:fixed;
    bottom:0;
    z-index:90;

}

@media all and (min-width: 814px) {
    .header-bottom {
        background:#ecf0f1;
    }
    .header-bottom .main-center.container>.nav-link {
        display: block;
    }
    .bottom-fe-tab {
        display:none;
    }

    .header-bottom .social-wrapper {
        right: 26px;
        top: 10px;
        position: relative;
        z-index: 200;
    }

    .social-bar-content {
        display: inline;
        float: right;
        margin-top: -8px;
    }

    .row.header-info .logo-header>span {
        display:inline;
    }
}
@media all and (max-width: 814px) {

    .header-bottom {
        background:transparent !important;
    }
    .header-bottom  .main-center.container>.nav-link  {
        display: none;
    }

    .header-bottom .social-wrapper {
        right: auto;
        top: auto;
        /* right: 0; */
        float: left;
        position: relative;
        z-index: 200;
    }

    .social-bar-content {
        display: inline;
        float: right;
        margin-top: 2px;
    }

    .bottom-fe-tab {
        display:block;
    }

    .row.header-info .logo-header>span {
        display:none;
    }
}

@media all and (min-width: 600px) {

    .row.header-info .logo-header>a>span {
        display:inline;
    }
}
@media all and (max-width: 600px) {

    .row.header-info .logo-header>a>span {
        display:none;
    }
}

.mobile-menu .mo-cat-list {
    position: fixed !important;
    top: 40px !important;
    right: 0 !important;
    z-index: 120;
    width: 300px;
}


.nav-link .text {
    margin-left: auto !important;
}

.site-container.slided {
    overflow:hidden;
}

.row.header-info .col-md-10 {
    width: 40% !important;
    float: right !important;
}

.row.header-info .logo-header {
    width: auto !important;
}



.footer .copyright span {
    font-size: 10px !important;
    color: #064063 !important;
}

::-webkit-input-placeholder { color: rgba(240, 74, 28, 0.99); opacity: 1 !important; font-size:18px; text-decoration: underline; cursor:hand;}
:-moz-placeholder { color: rgba(240, 74, 28, 0.99);font-size:18px;text-decoration: underline; cursor:hand;}
::-moz-placeholder {color: rgba(240, 74, 28, 0.99);font-size:18px;text-decoration: underline;cursor:hand; }
:-ms-input-placeholder {color: rgba(240, 74, 28, 0.99);font-size:18px;text-decoration: underline; cursor:hand;}

.home-page #es_more_pagi {
    display:none;
}

.home-page #es_content .es_my_listing ul li {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.home-page #es_content .es_my_list_title h2,.home-page #es_content .es_my_list_title h3 {
    font-size: 10px !important;
}

.home-page #es_content .es_my_listing ul li {
    font-size: 9px !important;
}

.home-page #es_content .es_my_list_pic {
    margin-bottom: 0 !important;
}

.home-page #es_content .es_my_list_pic span {
    display: none !important;
}

.home-page #es_content .es_my_list_title {
    margin-top: -20px;
}

.home-page #es_content .es_my_list_specs {
    padding: 0 !important;
}

.home-page .es_my_listing {
    padding-bottom: 0 !important;
}

.home-page #es_content .es_my_list_more {
    padding-bottom: 0 !important;
    margin-bottom:0 !important;
}


@media all and (min-width: 845px) {

    .home-page #es_content .es_my_listing ul li {

        width: 19% !important;
    }
}

@media all and (max-width: 845px) and (min-width: 631px){

    .home-page #es_content .es_my_listing ul li:last-child {
        display:none;
    }

    .home-page #es_content .es_my_listing ul li {

        width: 24% !important;
    }
}

@media all and (max-width: 631px) and (min-width: 545px) {

    .home-page #es_content .es_my_listing ul li:nth-last-child(-n+2) {
        display:none;
    }

    .home-page #es_content .es_my_listing ul li {

        width: 30% !important;
    }
}

@media all and (max-width: 545px) {

    .home-page #es_content .es_my_listing ul li:nth-last-child(-n+3) {
        display:none;
    }

    .home-page #es_content .es_my_listing ul li {

        width: 48% !important;
    }
}