@CHARSET "ISO-8859-1";

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption {

}
.bypostauthor {
	
}
.mce-i-wp_code:before {
    /*content: '\e017' !important;*/
}

/*
欢迎学习自定义 CSS！

要了解其工作原理，请访问 http://wp.me/PEmnE-Bt
*/
.screen-reader-text {
    display: none;
}

.wu-copyright {
    display: none;
}

a, a:visited, a:focus {
    font-weight: bolder;
}

.header-bottom {
    height: 42px;
}

.advert-img {
    width: 50%;
    height: 50%;
}

#wp-admin-bar-root-default {
    display: none;
}

.current_page_item a {
    color: black !important;
}

.adverts-list .advert-img {
    width: 35%;
    height: 100%;
}

@media all and (min-width: 968px) {
    .menu-bar-social-bar {
        padding: 0 !important;
        float: right !important;
    }
    .menu-bar-social-bar .open_social_box {
        padding: 0;
    }
    .menu-bar-social-bar .login_button {
        margin: 0 5px 0 0;
    }

}


@media all and (max-width: 968px) {
    .menu-bar-social-bar {
        display: none;

    }
}

.dropdown-profile .list-profile li {
    padding: 10px 0 10px 0;
}

.logo-header img {
    max-width: 259px;
    max-height: 70px;
    margin-top: -20px;
}

.social-bar-label {
    font-weight: bolder;
    color: gold;
    display: inline;
    float: left;
}

.social-bar-content {
    display: inline;
    float: right;
    margin-top: -8px;
}

.menu-bar-social-bar {
    margin-top:-40px;
}

.menu-bar-social-bar-front {
    float: right !important;
    padding: 0 !important;
}

.social-bar-content .login_box {
    padding: 0;
}
